<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Pretraga Rasa Pasa</title>
    <h1>Pretraga Rasa Pasa</h1>
</head>
<body>
    <input type="text" id="searchBox" autocomplete="off" placeholder="Unesite rasu...">
    <div id="suggestions"></div>

    


    <script>
  document.getElementById('searchBox').onkeyup = function() {
    var unos = this.value;
    if (unos.length > 0) {
        fetch(`/pretraga?q=${unos}`).then(response => response.json()).then(data => {
            document.getElementById('suggestions').innerHTML = data.map(rasa => `<div><a href="/dogs/${rasa}">${rasa}</a></div>`).join('');

            // Čuvanje istorije pretrage u localStorage
            let istorija = JSON.parse(localStorage.getItem('istorijaPretrage') || '[]');
            if (!istorija.includes(unos)) {
                if (istorija.length >= 5) {
                    istorija.shift(); // Uklanjanje najstarijeg unosa
                }
                istorija.push(unos);
                localStorage.setItem('istorijaPretrage', JSON.stringify(istorija));
            }
        });
    } else {
        document.getElementById('suggestions').innerHTML = '';
    }
};


       // setInterval(() => document.getElementById('timer').innerText += 1 , 1000)
    </script>
</body>
</html>
