<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Pretraga Rasa Pasa</title>
    <h1>Pretraga Rasa Pasa</h1>
</head>
<body>
    <input type="text" id="searchBox" autocomplete="off" placeholder="Unesite rasu...">
    <div id="suggestions"></div>

    


    <script>
  document.getElementById('searchBox').onkeyup = function() {
    var unos = this.value;
    if (unos.length > 1) {
        fetch(`/pretraga?q=${unos}`).then(response => response.json()).then(data => {
            var suggestions = document.getElementById('suggestions');
            suggestions.innerHTML = data.map(rasa => `<div><a href="/dogs/${rasa}" class="dog-link">${rasa}</a></div>`).join('');

            // Dodaj event listener na sve linkove
            var links = suggestions.getElementsByClassName('dog-link');
            for (var i = 0; i < links.length; i++) {
                links[i].addEventListener('click', function(event) {
                    var rasa = event.target.textContent;
                    addToHistory(rasa);
                });
            }
        });
    } else {
        document.getElementById('suggestions').innerHTML = '';
    }
};

function addToHistory(rasa) {
    let history = JSON.parse(localStorage.getItem('searchHistory') || '[]');
    if (!history.includes(rasa)) {
        if (history.length >= 5) {
            history.shift(); // Remove the oldest search term
        }
        history.push(rasa);
        localStorage.setItem('searchHistory', JSON.stringify(history));
    }
}


       // setInterval(() => document.getElementById('timer').innerText += 1 , 1000)
    </script>
</body>
</html>

